{% load static %}

<style>
    
    .header {
      background-color:gold;
      padding: 30px;
      text-align: center;
    }
    
    #navbar {
      overflow: hidden;
      background-color: #FF5D5B;
    }
    
    #navbar a {
      /* font:bold; */
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    #navbar a:hover {
      background-color: #ddd;
      color: black;
    }
    
    #navbar a.active {
      background-color: black;
      color: white;
    }
    
    .content {
      padding: 16px;
    }
    
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    
    .sticky + .content {
      padding-top: 60px;
    }
</style>
    
<div class="header">
    <img src="{% static 'imgs\logosemfundo.png'%}" style="width:170px; height: 170px;"></img>
</div>
    
<div id="navbar">
    <a class="active" href="/pet/all/">INÍCIO</a>
    <a href="/pet/user/">MEUS PETS</a>
    <a href="/pet/register/">CADASTRAR</a>
    <a href="#">NOTIFICAÇÕES</a>
    <a href="#">MURAL DO SUCESSO</a>
    <a style='float: right;' href="/logout/">SAIR</a>
    <a style='float: right;'>Logado como: {{ user.username }}</a>
    
</div>

<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
    if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
    } else {
    navbar.classList.remove("sticky");
    }
}
</script>

{% blockcontent %}

{% endblock %}

<div class='jumbotron footer text-center mb-0 mt-5' style='background-color:#FF5D5B'>
    <h5>FindPet™</h5>
    <p>Time de desenvolvimento</p>
    <p>Davy Carvalho, Georgia Alacoque, Isadora Moresco, Jéssica Carine Tomaz e Raul Furtado</p>
    <h6>Trabalho Final -Alunos da Turma de Python do Entra-21/2020</h6>
</div>