{% load static %}

<script>
    function openNav() {
  document.getElementById("mySidenav-devs").style.width = "100%";
}

    function closeNav() {
  document.getElementById("mySidenav-devs").style.width = "0";
}
</script>

<style>
    /* The side navigation menu */
.sidenav-devs {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav-devs a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav-devs a:hover {
  color: #f1f1f1;
}

.infodevs b:hover {
    color: gold;
}

/* Position and style the close button (top right corner) */
.sidenav-devs .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<div id="mySidenav-devs" class="sidenav-devs">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    
    <div>

        <h1 class='text-center' style='color: white'>
            
            <img src="{% static 'imgs\icone_entra21.png'%}" style="height: 130px; width:330px";><br><br>
            
            Equipe FindPet - Python
            <img src="{% static 'imgs\icone_python.png'%}" style="margin-right:5px; height: 80px; width:80px";>
                        
        </h1><br>
        
        <h1 style='color: white'>
            <img src="{% static 'imgs\davy.png'%}" style="margin-right:10px; height: 200px; width:200px";>
            Davy de Lima Carvalho

            <!-- LINKEDIN - EMAIL - INSTA - WHATSAPP -->
            
            <img src="{% static 'imgs\icone_linkedin.png'%}" style="margin-right:20px; height: 60px; width:60px";>
            <img src="{% static 'imgs\icone_gmail.png'%}" style="margin-right:20px; height: 60px; width:70px";>
            <img src="{% static 'imgs\icone_insta.png'%}" style="margin-right:20px; height: 60px; width:60px";>
            <img src="{% static 'imgs\icone_whats.png'%}" style="margin-right:20px; height: 60px; width:60px";>
        
        </h1>
        <h1 style='color: white'>
            <img src="{% static 'imgs\georgia.png'%}" style="margin-right:10px; height: 200px; width:200px";>
            Georgia Alacoque

            <!-- LINKEDIN - EMAIL - INSTA - WHATSAPP -->
            
            <img src="{% static 'imgs\icone_linkedin.png'%}" style="margin-right:20px; height: 60px; width:60px";>
            <img src="{% static 'imgs\icone_gmail.png'%}" style="margin-right:20px; height: 60px; width:70px";>
            <img src="{% static 'imgs\icone_insta.png'%}" style="margin-right:20px; height: 60px; width:60px";>
            <img src="{% static 'imgs\icone_whats.png'%}" style="margin-right:20px; height: 60px; width:60px";>
        
        </h1>
        <h1 style='color: white'>
            <img src="{% static 'imgs\isa.png'%}" style="margin-right:10px; height: 200px; width:200px";>
            Isadora Moresco

            <!-- LINKEDIN - EMAIL - INSTA - WHATSAPP -->
            
            <img src="{% static 'imgs\icone_linkedin.png'%}" style="margin-right:20px; height: 60px; width:60px";>
            <img src="{% static 'imgs\icone_gmail.png'%}" style="margin-right:20px; height: 60px; width:70px";>
            <img src="{% static 'imgs\icone_insta.png'%}" style="margin-right:20px; height: 60px; width:60px";>
            <img src="{% static 'imgs\icone_whats.png'%}" style="margin-right:20px; height: 60px; width:60px";>
        
        </h1>
        <h1 style='color: white'>
            <img src="{% static 'imgs\jessica.png'%}" style="margin-right:10px; height: 200px; width:200px";>
            Jéssica Carine Tomaz

            <!-- LINKEDIN - EMAIL - INSTA - WHATSAPP -->
            
            <img src="{% static 'imgs\icone_linkedin.png'%}" style="margin-right:20px; height: 60px; width:60px";>
            <img src="{% static 'imgs\icone_gmail.png'%}" style="margin-right:20px; height: 60px; width:70px";>
            <img src="{% static 'imgs\icone_insta.png'%}" style="margin-right:20px; height: 60px; width:60px";>
            <img src="{% static 'imgs\icone_whats.png'%}" style="margin-right:20px; height: 60px; width:60px";>
        
        </h1>
        <h1 style='color: white'>
            <img src="{% static 'imgs\raul.png'%}" style="margin-right:10px; height: 200px; width:200px";>
            Raul Furtado

            <!-- LINKEDIN - EMAIL - INSTA - WHATSAPP -->
            
            <img src="{% static 'imgs\icone_linkedin.png'%}" style="margin-right:20px; height: 60px; width:60px";>
            <img src="{% static 'imgs\icone_gmail.png'%}" style="margin-right:20px; height: 60px; width:70px";>
            <img src="{% static 'imgs\icone_insta.png'%}" style="margin-right:20px; height: 60px; width:60px";>
            <img src="{% static 'imgs\icone_whats.png'%}" style="margin-right:20px; height: 60px; width:60px";>
        
        </h1>
    </div>

</div>

<div class='jumbotron footer text-center mt-5' style='background-color:#ff5d5b;'>
    <h5>FindPet™</h5>
    <p>Para Dúvidas, Sugestões ou Reclamações, clique no ícone do Whatsapp ao lado para Entrar em Contato</p>
    <div class='text-center'>
        <img src="{% static 'imgs\icone_python.png'%}" style="margin-right:5px; height: 24px; width:24px";>
        <span class='infodevs' onclick="openNav()"><b>CLIQUE AQUI PARA SABER MAIS SOBRE OS ALUNOS QUE DESENVOLVERAM ESSE PROJETO</b></span>
        <img src="{% static 'imgs\icone_python.png'%}" style="margin-left:5px; height: 24px; width:24px";>
    </div>
    <h6 class='mt-3'>Trabalho Final - Alunos da Turma de Python do Entra-21/2020</h6>
</div>