{% extends "model-page.html" %}

{% block content %}

{% load static %}

<style>
    @import "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,700,700i|Raleway:300,400,500,700,800";
    
    a:hover {
      text-decoration: none;
    }
    .blog-card {
      display: flex;
      flex-direction: column;
      margin: 1rem auto;
      box-shadow: 4px 15px 25px -12px rgba(152, 182, 255, 0.4);
      margin-bottom: 1.6%;
      background: #fff;
      line-height: 1.4;
      border-radius: 6px;
      overflow: hidden;
      z-index: 0;
    }
    .blog-card a {
      color: inherit;
    }
    .blog-card a:hover {
      color: #ffc400;
    }
    .blog-card:hover .photo {
      -webkit-transform: scale(1.15) rotate(3deg);
      transform: scale(1.15) rotate(3deg);
    }
    .blog-card .meta {
      position: relative;
      z-index: 0;
      height: 200px;
    }
    .blog-card .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
    }
    .blog-card .description {
      padding: 1rem;
      background: #fff;
      position: relative;
      /* z-index: 1; */
    }
    .blog-card .description h1 {
      line-height: 1.35;
      margin: 0;
      font-weight: 500;
      font-size: 1.1rem;
      font-family: "open sans";
    }
    .blog-card .description h2 {
      font-size: 0.9rem;
      font-weight: 300;
      color: #a2a2a2;
      margin-top: 5px;
      font-family: "open sans";
    }
    .blog-card .description .read-more {
      padding-top: 8px;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 6px;
      position: absolute;
      border-top: 1px solid #dadada;
      color: #3ebecc;
    }
    .blog-card .description .read-more a {
      color: #3ebecc;
      font-size: 16px;
      display: inline-block;
      position: relative;
      /*  border: 1px solid;
      padding: 2px 10px; */
      border-radius: 4px;
      text-transform: uppercase;
    }
    .blog-card .description .read-more:after {
      content: "\f061";
      font-family: FontAwesome;
      margin-left: -9px;
      opacity: 0;
      vertical-align: middle;
      transition: margin 0.3s, opacity 0.3s;
    }
    .blog-card .description .read-more:hover:after {
      margin-left: 10px;
      opacity: 1;
    }
    .blog-card p {
      position: relative;
      margin: 10px 0 0;
    }
    .blog-card p:first-of-type {
      margin-top: 1.25rem;
    }
    /*
    .blog-card p:first-of-type:before {
      content: "";
      position: absolute;
      height: 4px;
      background: #3ebecc;
      width: 75px;
      top: -0.75rem;
    } 
    */
    .blog-card:hover .details {
      left: 0%;
    }
    @media (min-width: 640px) {
      .blog-card {
        flex-direction: row;
        min-height: 130px;
      }
      .blog-card .meta {
        flex-basis: 30%;
        height: auto;
      }
      .blog-card .description {
        flex-basis: 70%;
      }
      .blog-card .description:before {
        -webkit-transform: skewX(-3deg);
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
      .blog-card.alt {
        flex-direction: row-reverse;
      }
      .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        -webkit-transform: skew(3deg);
        transform: skew(3deg);
      }
      .blog-card.alt .details {
        padding-left: 25px;
      }
    }
    
</style>

{% if pets_com_eu_vi %}

  <div class="modal" id="modal_confirm">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class='modal-header'>
                <h4 class='modal-title'>Deseja realmente Excluir?</h4>
                <button type='button' class='close' data-dismiss='modal'>&times;</button>
            </div>
            <div class='modal-body text-right'>
                <a href='/pet/delete/{{ pet.id }}/'>
                    <button type='button' class='btn btn-danger'>
                        EXCLUIR
                    </button>
                </a>
                    <button type='button' class='btn btn-warning' data-dismiss='modal'>
                        CANCELAR
                    </button>
            </div>
        </div>
    </div>
  </div>

  <div class="container-fluid px-lg-5 body mt-3">
    
    <h1 class='text-center mt-4 mb-2' >Últimas Informações Sobre seus PETS</h1>

      <div class="row justify-content-left">
          {% for pet, eu_vis in pets_com_eu_vi %}

            <div class='container'>

                <div class='row'>

                    <div class='col-sm-4'>
                        <h5 class='mt-3 text-center' style='position: relative; z-index: -1;'><b>NOME: {{pet.pet_name}} || DONO: {{pet.owner}}</b></h5>
                        <div style='box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
                                    background-color:#FFD700; width: 350px; height:300px; position: relative; z-index: -1;'>
                            
                            <img src='{{pet.photo.url}}' style='width:350px; height: 263px; margin-top:15px;'>
                            
                        </div>
                        {% if request.user == pet.user %}
                        <a href="/pet/register/?id={{ pet.id }}">
                          <button type="button" class="mt-4 btn btn-warning"><b>Alterar Informações</b></button>
                          </a>
                          <a href="/pet/historias-felizes/encontrado/{{ pet.id }}">
                              <button type="button" class="mt-4 btn btn-success"><b>Pet encontrado</b></button>
                          </a>
                          <button type="button" class="mt-4 btn btn-danger" data-toggle='modal'
                                  data-target="#modal_confirm"><b>Excluir Postagem</b></button>
                        {% endif %}
                    </div>
              
                    <div class='col-sm-8'>
                      <h5 class='mt-3 text-center' style='position: relative; z-index: -1;'><b>NOTIFICAÇÕES:</b></h5>
                        <div class='row'>
                          <div style='background-color:#FFD700; width:100%;'>
                          {% for eu_vi in eu_vis %}
                            <div class='ml-3 mt-3 mb-5'> <!-- style='background-color:rgb(107,184,187);' -->
                                <b>
                                  Quem viu: {{eu_vi.user}} || Data: {{eu_vi.begin_date}}<br><br> 
                                  Contato: {{eu_vi.phone}}<br>
                                  Visto em: {{eu_vi.street}}, {{eu_vi.house_number}}, {{eu_vi.district}}, {{eu_vi.city}}<br><br>
                                  
                                  Localização no Mapa:<br><br>
                                  <iframe class='banana' style="width:650; height:250"
                                  frameborder="0" style="border: 0;"
                                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDNTk8xB50BsRp2vhrj9hmWqb2qK9Tzn-Y&q={{eu_vi.street}}+{{eu_vi.house_number}}+{{eu_vi.district}}+{{eu_vi.city}}" allowfullscreen>
                                  </iframe><br><br>


                                  
                                  Descrição: {{eu_vi.description}}<br>

                                </b>
                            </div> 
                          {% endfor %}
                          </div>
                        </div>  
                    </div>
         
                </div>

            </div>

          {% endfor %}
          
      </div>

  </div>

{% else %}

  <div class="row" style='margin-top:100px; margin-bottom:100px; z-index: -1;'>
    <div class="col-sm-3" style="margin-left:50px;">
      <img src="{% static 'imgs\icone_emoji_triste.png' %}" style='height:100px; width:100px; float:right;'>
    </div>
    <div class='col-sm-5'>
      <h1>Desculpe! Você ainda não tem notificações sobre seus Pets!</h1>
    </div>
  </div>

{% endif %}


{% endblock %}