{% extends "model-page.html" %}

{% block content %}

    <!-- <style>
        @media screen and (min-width:420px) {
            .titulo-cadastrar-pet{
                font-size:20px;
            }
        }
        
    </style> -->


    <h1 class='titulo-cadastrar-pet text-center mt-4'>CADASTRAR / ALTERAR PET DESAPARECIDO</h1>


    <form id='form' enctype='multipart/form-data' method='POST' action='{% url "pet_register_submit" %}'>{% csrf_token%}
      
        <div id='error'></div>
        {{ form.non_field_errors }}
        <input type='number' class='form-control' name='pet_id' value='{{ pet.id }}' hidden>
        <!-- <input type='text' class='form-control' name='jaExiste' value='{{ jaExiste }}' hidden> -->
        <div class='container'>

            <div class='form-group'> 
                <label for='owner' ><b>Nome do Dono</b></label>
                <input id='owner' class= 'form-control' type='text' name='owner' 
                       placeholder='Nome do dono do Pet!' value="{{pet.owner}}" required>
            </div>
            
            <div class='form-group'> 
                <label for='pet_name' ><b>Nome do Pet</b></label>
                <input id='pet_name' class= 'form-control' type='text' name='pet_name' 
                       placeholder='Nome do seu Amigo!' value="{{pet.pet_name}}" required>
            </div>

            <div class='form-group'>
                <label for='breed' ><b>Raça do Pet</b></label>
                <select id='breed' class= 'form-control' type='text' name='breed' value="{{pet.breed}}" required>
                    {% for raca in form.breed %}
                        {{ raca }}
                    {% endfor %}
                </select>
            </div>

            <div class='form-group'>
                <label for='district'><b>Bairro</b></label>
                <input id='district' class= 'form-control' type='text' name='district' 
                       placeholder='Bairro onde o Pet mora' value="{{pet.district}}" required>
            </div>

            <div class='form-group'>
                <label for='city'><b>Cidade</b></label>
                <input id='city' class= 'form-control' type='text' name='city' 
                       placeholder='Cidade onde o Pet mora' value="{{pet.city}}" required>
            </div>

            <div class='form-group'>
                <label for='contact_phone'><b>Telefone</b></label>
                <input id='contact_phone' class= 'form-control' type='text' name='contact_phone'
                        placeholder='Deixe aqui o telefone para entrarem em contato com você caso encontrem seu Pet!' 
                        value="{{pet.contact_phone}}" required>
            </div>

            <div class='form-group'>
                <label for='contact_email'><b>E-mail</b></label>
                <input id='contact_email' class= 'form-control' type='text' name='contact_email'
                       placeholder='Deixe aqui o E-mail para entrarem em contato com você caso encontrem seu Pet!' 
                       value="{{pet.contact_email}}" required>
            </div>

            <div class='form-group'>
                <label for='description'><b>Descrição do Desaparecimento/Pet</b></label>
                <textarea id='description' class='form-control' rows='5' type='text' name='description'
                          placeholder='Detalhes expecíficos a respeito do seu Pet e do desaparecimento dele que possam facilitar que alguem identifique ou encontre seu Amigo!' required>{{pet.description}}</textarea>
            </div>

            <div class='form-group'>
                {% if pet %}
                    <a>Caso não deseje alterar a foto do Pet, deixe o campo imagem em branco, ou envie uma nova imagem caso queira alterar a foto atual!</a>
                    <br>
                    <a href='/media/{{pet.photo}}' target="_blank">Clique aqui para ver a Foto Atual<br></a>
                    <label for='photo'><b>Anexe aqui uma foto do seu Pet para facilitar o reconhecimento dele!</b></label>
                    <input id='photo' type='file' class='form-control-file border' name='photo'
                    accept='image/*' value="{{pet.photo}}">
                {% else %}
                    <label for='photo'><b>Anexe aqui uma foto do seu Pet para facilitar o reconhecimento dele!</b></label>
                    <input id='photo' type='file' class='form-control-file border' name='photo'
                    accept='image/*' value="{{pet.photo}}" required>                    
                {% endif %}

                {% if erroNaoTemPet %}
                    <div class="alert alert-danger" role="alert">
                        <b style="color:red">{{erroNaoTemPet}}</b>
                    </div>
                {% endif %}

            </div>

            <button type='submit' class='btn btn-warning'>
                <b>
                    {% if pet %}
                        Alterar Informações
                    {% else %}
                        Cadastrar Pet
                    {% endif %}
                </b>
            </button>
        </div>
    </form>

{% endblock %}