{% extends "model-page.html" %}

{% block content %}

    <h1 class='text-center mt-4'>Formulário de Pet Avistado</h1>
    <h3 class='text-center mt-2'>Ajude {{pet.user}} a encontrar {{pet.pet_name}},<br>preenchendo os campos abaixo!</h3>

    <form enctype='multipart/form-data' action='submit', method='POST'>{% csrf_token%}
        
        <input type='' class='form-control' name='pet_id' value='{{ pet.id }}' hidden>
        
        <div class='container'>

            <div class='form-group'> 
                <label for='pet_name' ><b>Quem viu</b></label>
                <input class= 'form-control' type='text' name='user' value="{{request.user}}" readonly> <!-- Não permitir alteração, apenas mostrar o user logado -->
            </div>
            
            <div class='form-group'> 
                <label for='pet_name' ><b>Nome do Pet</b></label> <!-- Não permitir alteração, apenas mostrar o nome do pet que recebe o eu_vi -->
                <input class= 'form-control' type='text' name='pet.pet_name' value="{{pet.pet_name}}" readonly>
            </div>

            <div class='form-group'> 
                <label for='pet_name' ><b>Seu contato</b></label>
                <input class= 'form-control' type='text' name='phone' 
                       placeholder='Deixe este campo em Branco caso não queira informar seu contato!'>
            </div>

            <div class='form-group'>
                <label for='district'><b>Rua</b></label>
                <input class= 'form-control' type='text' name='street' 
                       placeholder='Rua onde o Pet foi visto'>
            </div>

            <div class='form-group'>
                <label for='district'><b>Bairro</b></label>
                <input class= 'form-control' type='text' name='district' 
                       placeholder='Bairro onde o Pet foi visto'>
            </div>

            <div class='form-group'>
                <label for='city'><b>Cidade</b></label>
                <input class= 'form-control' type='text' name='city' 
                       placeholder='Cidade onde o Pet foi visto'>
            </div>
            
            <div class='form-group'>
                <label for='description'><b>Descrição</b></label>
                <textarea class='form-control' rows='5' type='text' name='description'
                          placeholder='Descreva aqui detalhes a respeito do Pet que você viu e outras informações que possam ajudar o dono a encontrá-lo'></textarea>
            </div>

            <button type='submit' class='btn btn-primary'>
                <b>
                    Salvar Informações
                </b>
            </button>
        </div>
    </form>

{% endblock %}