{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>FIND PET - Criar Conta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
  <div class='col-sm-5'>
      <img src="{% static 'imgs\logosemfundo.png'%}" style="width:300px; height: 300px; margin-top: 150px; margin-left:160px;"></img>            
  </div>

  <div class='col-sm-4'>
      <div class='container' style="margin-top:30px;">
        <form method="POST" class='form-group'>{%csrf_token%}
          <h1>Criar Conta</h1>
          {{ form|crispy }}
          <br>
          <button type='submit' class='btn btn-success'>Criar Conta</button>
          <!-- <button href="/login/" type='button' class='btn btn-danger'>Voltar a tela de Login</button> NOT WORKING FIX IT-->
        </form>
      </div>
  </div>
</div>

</body>